html, body {
	height:100%;
}


body {
	background-color: #F0F0F0;
	color: 	#575757 ;
	font-family: 

	
}

#outside {
	margin: 40px 0px;
	text-align: center;
	letter-spacing: 10px;
}
