body {
	background-color: #F0F0F0;
	color: 	#575757 ;
	font-family: 'Muli', sans-serif;

	
}

#outside {
	margin: 40px 0px;
	text-align: center;
	letter-spacing: 5px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #cccccc;
  text-align: center;
  color: white;
}
.footer a {
	color: white;
}